.card__like{
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
  width: 22px;
  height: 19px;
  background-size: cover;
  background-position: center;
  background-image: url(../../../images/Vector-2.svg);
  transition:linear ease-in-out 0,2s;
}

.card__like:hover{
  opacity: 0.5;
}
